<h2>FORMULARIOS PREENCHIDOS</h2>

<h4>Com Pedido</h4>
{{#each formularios.ComPedido}}
  
  {{this.agendamento}} --
  {{this.tipo_agendamento}} --
 Ciclo {{this.ciclo_agendamento}}
  </br> 
{{/each}}


<h4>Sem Pedido</h4>
{{#each formularios.SemPedido}}
  
  {{this.agendamento}} --
  {{this.codigo_cliente}} --
  {{this.razao_social}} --
  {{this.tipo_agendamento}} --
 Ciclo {{this.ciclo_agendamento}}
  </br> 
{{/each}}

<h4>Sem Retorno</h4>
{{#each formularios.SemPedido}}
  
  {{this.agendamento}} --
  {{this.codigo_cliente}} --
  {{this.razao_social}} --
 Ciclo {{this.ciclo_agendamento}}
  </br> 
{{/each}}


<h2>ESTATISTICAS</h2>
<h3>Tipos de agendamento</h3>
<h4>Com pedido </h4>
{{#each estatisticasFormularios.totalTipoAgendamento.ComPedido}}
<li> {{@key}}--{{this}}</li>
{{/each}}



<h4>Sem pedido</h4>
{{#each estatisticasFormularios.totalTipoAgendamento.SemPedido}}
<li> {{@key}}--{{this}}</li>
{{/each}}


<h3>Total ciclos </h3>
<h4>Com Pedido</h4>
{{#each estatisticasFormularios.totalCiclo.ComPedido}}
<li> {{@key}}--{{this}}</li>
{{/each}}

<h4>Sem Pedido</h4>
{{#each estatisticasFormularios.totalCiclo.SemPedido}}
<li> Ciclo {{@key}} -- {{this}}</li>
{{/each}}

<h4>Sem Retorno</h4>
{{#each estatisticasFormularios.totalCiclo.SemRetorno}}
<li> {{@key}}--{{this}}</li>
{{/each}}

<h3>Contato realizados</h3>
{{#each estatisticasFormularios.total}}
<li> {{@key}}--{{this}}</li>
{{/each}}